@model  IEnumerable<project.Models.Hospital>


@{
    ViewBag.Title = "Index";
}

<div class="container-fluid  mt-2 .page3">
    <div class="row">
        <div class="col-12  col row justify-content-around align-content-around   " id="main-content">
            @foreach (var item in Model)
            {
            <div class="card m-2 wow zoomIn" data-wow-duration="1s" data-wow-delay="0s" data-wow-iteration="1" style="width: 21.7rem;height:30rem ; ">

                <img src="~/images/@item.Image1" class="card-img-top" alt="..." height="70%">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">@item.Hospital_Name</h5>

                    <a href="#" class="btn btn-dark">delete</a>
                </div>
            </div>
            }
            @*<div class="card m-2" style="width: 21.7rem;">
            <img src="~/images/img6.jpg" class="card-img-top" alt="..." height="70%rem">
            <div class="card-body">

                <h5 class="card-title" style="text-align: center;">Reda Helmy</h5>

                <a href="#" class="btn btn-dark">Delete</a>
            </div>
        </div>

        <div class="card m-2" style="width: 21.7rem;">
            <img src="~/images/img8.jpg" class="card-img-top" alt="..." height="70%rem">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Momentualhawi</h5>

                <a href="#" class="btn btn-dark" style="text-align: center;">Delete</a>
            </div>
        </div>
        <div class="card m-2" style="width: 21.7rem;">
            <img src="~/images/img10.jpg" class="card-img-top" alt="..." height="70%rem">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">El sala 3ala elnaby</h5>

                <a href="#" class="btn btn-dark">Delete</a>
            </div>
        </div>
        <div class="card m-2" style="width: 21.7em;">
            <img src="~/images/img3.jpg" class="card-img-top" alt="..." height="70%rem">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Flames</h5>

                <a href="#" class="btn btn-dark">Delete</a>
            </div>
        </div>
        <div class="card m-2" style="width: 21.7rem;">
            <img src="~/images/foote5.jpg" class="card-img-top" alt="..." height="70%rem">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">euphoria</h5>
                <a href="#" class="btn btn-dark">Delete</a>
            </div>
        </div>*@
        </div>
    </div>
</div>

<div style="float: right; margin: 2rem;">
    <a href="addserv.html"> <button type="button" class="btn btn-outline-warning">Add </button></a>
</div>