@model  IEnumerable<project.Models.School>
@{
    ViewBag.Title = "Page4AdminSchool";
}
@if (Model != null)
{
<div class="container-fluid  mt-2  page4">
    <div class="row">
        <div class="col-12  col row justify-content-around align-content-around   " id="main-content">
            
            @foreach (var item in Model)
            {
                <div class="card m-2 wow zoomIn" data-wow-duration="1s" data-wow-delay="0s" data-wow-iteration="1" style="width: 21.7rem;height:30rem ; ">

                    <img src="~/images/@item.Image1" class="card-img-top" alt="..." height="70%">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">@item.School_Name</h5>
                        <a href="/Home/DetailsAdminSchoolEdit/@item.School_id" class="btn btn-success"><i class="fas fa-edit"></i> Edit</a>
                        <a href="/Home/DetailsAdminSchoolEditDelete/@item.School_id" class="btn btn-danger"  onclick = "return confirm('Are You Sure  You Want To Delete?')"><i class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
            }
        </div>
        <div style="float: right; margin: 2rem;">
            <a href="/Home/AddSchool"> <button type="submit" class="btn btn-outline-warning"><i class="far fa-calendar-plus"></i> Add School</button></a>
            <a href="/Home/Page3Admin/@Session["cityid"]"> <button class="btn btn-outline-warning"><i class="fas fa-long-arrow-alt-left"></i> Back To Our Services </button></a>
        </div>
    </div>
</div>}